body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr 1fr;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

header,
footer {
    background-color: black;
    color: white;
}

nav {
    display: grid;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(110, 199, 137);
    grid-template-columns: 100px 100px 100px 100px;
}

h2 {
    text-align: center;
}

.images {
    text-align: center;
}

.Osu {
    text-align: center;
}

.favoritspelsida {
    background-color: pink;
}

.favoritanimesida {
    background-color: rgb(168, 11, 11);
}

.favoritmatsida {
    background-color: rgb(255, 196, 0);
}

.images2 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(255, 0, 0, 0.731);
}

.index {
    background-color: lightskyblue;
}